*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: Arial, sans-serif;
}

header{
    width: 100%;
    background: #222;
    display: flex;
   -webkit-box-shadow: 0px 7px 4px -7px rgba(34, 60, 80, 0.6);
-moz-box-shadow: 0px 7px 4px -7px rgba(34, 60, 80, 0.6);
box-shadow: 0px 7px 4px -7px rgba(34, 60, 80, 0.6);
position: fixed;
z-index: 1000;
}

.header__logo a{
    margin-left: 300px;
    font-size: 30px;
    cursor: pointer;
    line-height: 80px;
    font-family: Impact, sans-serif;;
    color: #fff;
}

.header__logo a:hover{
   color: #fff;
}


nav{
   margin-left: 755px;
   margin-top: 20px;
}

.topnav a{
    color: #fff;
    margin-right: 40px;
    font-size: 12.5px;
}


.topnav a:hover{
    color: #c49b66;
    border-bottom: 1px solid #c49b66;
   } 

.topnav a.phone{
    border-bottom: 0px;
    margin-top: 10px;
    font-size: 15px;
}


.topnav .icon{
    display: none;
    color: white !important;
}



@media screen and (max-width: 1900px){
    .topnav a.phone{
        margin-left: 0px;
        white-space: nowrap;  
    }
    nav{
        margin-left: 350px;
    }
}

@media screen and (max-width: 1310px){
    nav{
        margin-left: 250px;
    }
}



@media screen and (max-width: 1205px){
    
    nav{
   margin-left: 100px;
}
}


@media screen and (min-width: 321px) and (max-width: 330px){
    .topnav a{
    display: none;  
    padding: 6px 10px; 
    }
    .header__logo a{
        margin-left: 20px;
        float: left;    
    }
    .topnav a.icon{
        float: right;
        display: block;
        color: #000;
        font-size: 20px;
        margin-top: 2px;
    }
    nav{
        width: 100%;
    }

    .topnav a.phone:hover{
        background: none;
        border: none;
        
    }

    .topnav.responsive{
        position: relative;
        top: 50px;
        right: 220px;
    }

    header .topnav.responsive{
        height: 250px;
    }

    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -138px;
    }

    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
        margin-left: 10px;
    }

    .topnav.responsive a:hover{
        border-bottom: 0px;
    }
}

@media screen and (min-width: 310px) and (max-width: 320px){
    .topnav a{
    display: none;  
    padding: 6px 10px; 
    }
    .header__logo a{
        margin-left: 20px;
        float: left;    
    }
    .topnav a.icon{
        float: right;
        display: block;
        color: #000;
        font-size: 20px;
        margin-top: 2px;
    }
    nav{
        width: 100%;
    }

    .topnav a.phone:hover{
        background: none;
        border: none;
        
    }

    .topnav.responsive{
        position: relative;
        top: 50px;
        right: 220px;
    }

    header .topnav.responsive{
        height: 250px;
    }

    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -127px;
    }

    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
        margin-left: 10px;
    }

    .topnav.responsive a:hover{
        border-bottom: 0px;
    }
}


@media screen and (min-width: 331px) and (max-width: 350px){
    .topnav a{
    display: none;  
    padding: 6px 10px; 
    }
    .header__logo a{
        margin-left: 20px;
        float: left;    
    }
    .topnav a.icon{
        float: right;
        display: block;
        color: #000;
        font-size: 20px;
        margin-top: 2px;
    }
    nav{
        width: 100%;
    }

    .topnav a.phone:hover{
        background: none;
        border: none;
        
    }

    .topnav.responsive{
        position: relative;
        top: 50px;
        right: 220px;
    }

    header .topnav.responsive{
        height: 250px;
    }

    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -157px;
    }

    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
        margin-left: 10px;
    }

    .topnav.responsive a:hover{
        border-bottom: 0px;
    }
}




@media screen and (min-width: 351px) and (max-width: 376px) {
    .topnav a{
    display: none;  
    padding: 6px 10px; 
    }
    .header__logo a{
        margin-left: 20px;
        float: left;    
    }
    .topnav a.icon{
        float: right;
        display: block;
        color: #000;
        font-size: 20px;
        margin-top: 2px;
    }
    nav{
        width: 100%;
    }

    .topnav a.phone:hover{
        background: none;
        border: none;
        
    }

    .topnav.responsive{
        position: relative;
        top: 50px;
        right: 220px;
    }

    header .topnav.responsive{
        height: 250px;
    }

    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -182px;
    }

    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
        margin-left: 10px;
    }

    .topnav.responsive a:hover{
        border-bottom: 0px;
    }
}



@media screen and (min-width: 400px) and (max-width: 900px) {
    .topnav a{
    display: none;  
    padding: 6px 10px; 
    }
    .header__logo a{
        margin-left: 20px;
        float: left;    
    }
    .topnav a.icon{
        float: right;
        display: block;
        color: #000;
        font-size: 20px;
        margin-top: 2px;
    }
    nav{
        width: 100%;
    }

    .topnav a.phone:hover{
        background: none;
        border: none;
        
    }

    .topnav.responsive{
        position: relative;
        top: 50px;
        right: 220px;
    }

    header .topnav.responsive{
        height: 250px;
    }

    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -150px;
    }

    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
        margin-left: 10px;
    }

    .topnav.responsive a:hover{
        border-bottom: 0px;
    }
}


.title__container_1{
    width: 100%;
    height: 980px;
    background-attachment: scroll;
    background-color: #EAE1D6;
    background: url(../img/fon1.jpg) 80% 80%  / auto no-repeat;
}
.container__item_1{
    padding-top: 350px;
    margin-left: 180px;
}
.container__item_1 h2{
   font-size: 15px;
   text-transform: uppercase;
   line-height: 2em;
   letter-spacing: 4px;
   color: #161617; 
   font-family: Gilroy-Bold, sans-serif;
   cursor: pointer;
   border: 1px solid #EAE1D6;
   background: #161617;
   display: inline-block;
   color: #EAE1D6;
   padding: 5px 10px 5px 10px;

}
.container__item_1 h1{
    font-size: 64px;
    margin-top: 15px;
    line-height: 1.13em;
    color: #161617;
    font-family: Gilroy-bold, sans-serif;
    cursor: pointer;
}
.container__item_1 h3{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67em;
    font-family: Gilroy-Medium, sans-serif;
    margin-top: 30px;
    cursor: pointer;
    cursor: pointer;
}
.button__1{
    background-color: #EAE1D6;
    border: 1px solid #161617;
    border-radius: 40px;
    width: 140px;
    height: 50px;
    margin-top: 30px;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0em;
    text-transform: none;
    margin-right: 10px;
    color: #161617;
}
.button__2{
    background-color: #161617;
    border: 1px solid #161617;
    border-radius: 40px;
    width: 140px;
    height: 50px;
    margin-top: 30px;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0em;
    text-transform: none;
    color: #EAE1D6;
}
.button__1:hover{
    background-color: #161617;
    color: #EAE1D6;
    transition: 0.8s;
    }
.button__2:hover{
    background-color: #EAE1D6;
    color: #161617;
    border: 1px solid #161617;
    transition: 0.8s;
    }
.download_loader{
    padding-left: 10px;
    font-family: Gilroy-bold, sans-serif;
}
@media screen and (max-width: 1360px){
    .title__container_1{
        background: #EAE1D6;
    }
}
@media screen and (max-width: 600px){
    .container__item_1{
    padding-top: 150px;
    margin-left: 0px;
    text-align: center;
    }
    .container__item_1 button{
        width: 100%;
        text-align: center;
    }
} 
.about{  
    background: #161617;
    display:block;
}
*,::after,::before{
    box-sizing:border-box;
}

.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
@media (min-width:576px){
   .container{
    max-width:540px;
    }
}
@media (min-width:768px){
    .container{
        max-width:720px;
    }
}
@media (min-width:992px){
    .container{
        max-width:960px;
    }
}
@media (min-width:1200px){
    .container{
        max-width:1140px;
    }
}
.row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
}
.col-lg-4{
    position:relative;
    width:100%;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
}
@media (min-width:992px){
    .col-lg-4{
        -webkit-box-flex:0;
        -ms-flex:0 0 33.333333%;
        flex:0 0 33.333333%;
        max-width:33.333333%;
    }
}
.mt-4{
    margin-top:1.5rem!important;
}
@media print{
    *,::after,::before{
        text-shadow:none!important;
        box-shadow:none!important;
        }
        a:not(.btn){text-decoration:underline;}
        p{orphans:3;widows:3;}
        .container{
         min-width:992px!important;
}
}
.fa{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.fa-instagram:before{
    content:"\f16d";
}
.fa-skype:before{
    content:"\f17e";
}
.fa-vk:before{
    content:"\f189";
}
.fa-whatsapp:before{
    content:"\f232";
}
.fa-telegram:before{
    content:"\f2c6";
}

.mt-40{
    margin-top:40px!important;
}
.mb-10{
    margin-bottom:10px!important;
}
.mb-30{
    margin-bottom:30px!important;
}

.section-head{
    margin-bottom:80px;
    position:relative;
}
.section-head h4{
    color: #c49b66;
    font-size:70px;
    font-weight:800;
    font-family:inherit;
    letter-spacing:2px;
    -webkit-transition:all .4s;transition:all .4s;}
section:hover .section-head h4{
    color:transparent;
    -webkit-text-stroke:1px #c49b66;
}
.bg-img{
    background-size:cover;
    background-repeat:no-repeat;
}
.valign{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;-webkit-box-align:center;
    -ms-flex-align:center;align-items:center;
}
.about .skills{
    padding:100px 0;
}
.about .skills h6{
    font-size:14px;
    font-weight:400;
    margin-bottom:10px;
    color: #fff;
}
.about .skills .skill-progress{
    height:8px;
    width:100%;
    background-color:#333;
    border-radius:20px;
    position:relative;
}
.about .skills .skill-progress .progres{
    width:10%;
    height:100%;
    position:absolute;
    top:0;left:0;
    border-radius:20px;
    background-color:#c49b66;
    -webkit-transition:all 1.5s;
    transition:all 1.5s;
}
.about .skills .skill-progress .progres:after{
    content:attr(data-value);
    position:absolute;top:-15px;
    right:0;font-size:10px; 
    color: #fff;
}
.about .hero-img{
    background-position:50% 50%;
}
.about .content{
    padding:100px 0;
}
.about .content h6{
    font-size:12px;
    font-weight:300;
    text-transform:uppercase;
    letter-spacing:8px;
    margin-bottom:10px; 
    color: #fff;
}
.about .content h4{
    display:inline-block;
    font-size:30px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:4px;
    color:#fff;
    background:#c49b66;
    padding:5px 10px;
    margin-bottom:40px;
}
.about .content h5{
    font-size:18px;
    margin-bottom:10px;
    color: #fff;
}
.about .content .social span{
    position:relative;
    padding-right:50px;
    color:#c49b66;
    font-size:12px; 
}
.about .content .social span:after{
    content:'';
    width:40px;
    height:1px;
    background-color:#eee;
    position:absolute;
    right:0;
    top:50%;
}
.about .content .social a{
    font-size:12px;
    margin:0 10px;
    color: #fff;
}
.about .content .social a:hover{
    color:#c49b66;
}
@media screen and (max-width: 991px){
.about .section-head{
    text-align:center;
}
.about .hero-img{
    height:400px;
}
}
@media screen and (max-width: 767px){
.section-head h4{
    font-size:40px;
}
}




.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    }
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1140px;}
}
.row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-lg-3,.col-md-12,.col-md-6{
    position:relative;
    width:100%;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
}
@media (min-width:768px){
.col-md-6{
    -webkit-box-flex:0;
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%;
}
.col-md-12{
    -webkit-box-flex:0;
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    max-width:100%;
}
}
@media (min-width:992px){
.col-lg-3{
    -webkit-box-flex:0;
    -ms-flex:0 0 25%;
    flex:0 0 25%;
    max-width:25%;
}
}
.bg-dark{
    background-color:#343a40!important;
}
.text-center{
    text-align:center!important;
}
@media print{
*,::after,::before{
    text-shadow:none!important;
    box-shadow:none!important;
}
p{
    orphans:3;
    widows:3;
}
.container{
    min-width:992px!important;
}
}
.fa{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.fa-code:before{
    content:"\f121";
}
.fa-rocket:before{
    content:"\f135";
}
.fa-android:before{
    content:"\f17b";
}
.fa-handshake-o:before{
    content:"\f2b5";
}
h4{
    font-size:30px;
}
h6{
    font-size:18px;
}
h4,h6{
    margin:0;
    font-weight:500;
}
*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    outline:none;
    list-style:none;
    word-wrap:break-word;
}
h4,h6{
    font-family:'Josefin Sans', sans-serif;
}
p{font-size:15px;
    color:#8f8f8f;
    line-height:1.8;
    margin:0;
}
.section-padding{
    padding:120px 0;
}
.section-head_2{
    margin-bottom:80px;
    position:relative;
}
.section-head_2 h4{
    font-size:70px;
    font-weight:800;
    font-family:inherit;
    letter-spacing:2px;
    color:#222;
    -webkit-transition:all .4s;transition:all .4s;
}
section:hover .section-head_2 h4{
    color:transparent;
    -webkit-text-stroke:1px #333;
}
.bg-dark{
    background:#EAE1D6!important;
}
.services .item{
    text-align:center;
    padding:50px 20px;
    background:#0a0a0c;
    border-radius: 10px;
}
.services .item:hover .icon{
    color:#fff;
}
.services .item:hover .icon:after{
    background:#c49b66;
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
}
.services .item .icon{
    display:inline-block;
    color:#c49b66;
    font-size:45px;
    width:85px;height:85px;
    line-height:85px;
    margin-bottom:30px;
    position:relative;
    -webkit-transition:all .4s;
    transition:all .4s;
    z-index:3;
}
.services .item .icon:after{
    content:'';
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    border-radius:30px;
    background:rgba(200, 200, 200, 0.05);
    z-index:-1;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transition:all .4s;
    transition:all .4s;
}
.services .item h6{
    font-weight:400;
    font-size:16px;
    margin-bottom:15px; 
    color: #c49b66
}
.services .item p{
    font-size:14px;
}
@media screen and (max-width: 991px){
.mb-md50{
    margin-bottom:50px;
}
}
@media screen and (max-width: 767px){
.mb-sm50{
    margin-bottom:50px;
}
.section-head_2 h4{
    font-size:40px;
}
}


.title__container_4 h4{
    padding-top: 50px;
}


@media all{
a{
    background-color:transparent;
}
a:active,a:hover{
    outline:0;
}
img{
    border:0;
}
svg:not(:root){
    overflow:hidden;
}
}
@media all{
*,*::before,*::after{box-sizing:border-box;}
h2,h3{
    margin-top:0;
    margin-bottom:.5rem;
}
p{
    margin-top:0;
    margin-bottom:1rem;
}
ul{
    margin-top:0;
    margin-bottom:1rem;
}
a{
    color:#007bff;
    text-decoration:none;
    background-color:transparent;
}
a:hover{
    color:#0056b3;
    text-decoration:underline;
}
img{
    vertical-align:middle;
    border-style:none;
}
svg{
    overflow:hidden;
    vertical-align:middle;
}
h2,h3{
    margin-bottom:.5rem;
    font-weight:500;
    line-height:1.2;
}
h2{
    font-size:2rem;
}
h3{
    font-size:1.75rem;
}
.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
@media (min-width: 576px){
.container{
    max-width:540px;
}
}
@media (min-width: 768px){
.container{
    max-width:720px;
}
}
@media (min-width: 992px){
.container{
    max-width:960px;
}
}
@media (min-width: 1200px){
.container{
    max-width:1140px;
}
}
.btn{
    display:inline-block;
    font-weight:400;
    color:#212529;
    text-align:center;
    vertical-align:middle;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce){
.btn{
    transition:none;
}
}
.btn:hover{
    color:#212529;
    text-decoration:none;
}
.btn:focus{
    outline:0;
    box-shadow:0 0 0 .2rem rgba(0,123,255,0.25);
}
.btn:disabled{
    opacity:.65;
}
@media print{
*,*::before,*::after{
    text-shadow:none!important;
    box-shadow:none!important;
}
img{
    page-break-inside:avoid;
}
p,h2,h3{
    orphans:3;
    widows:3;
}
h2,h3{
    page-break-after:avoid;
}
.container{
    min-width:992px!important;
}
}
}
@media all{
a{
    color:inherit;
}
a:hover{color:inherit;text-decoration:none;}
a:focus{outline:none;}
img{height:auto;}
.section-line{pointer-events:none;position:absolute;top:0;bottom:0;width:1px;z-index:2;background-color:#e9e9e9;}
@media (max-width: 575.98px){
.section-line{display:none;}
}
.section-line--1{left:calc(((100% - 1270px) / 2) + 15px);}
@media (max-width: 1365px){
.section-line--1{display:none;}
}
.section-line--5{right:calc(((100% - 1270px) / 2) + 15px);}
@media (max-width: 1365px){
.section-line--5{display:none;}
}
.btn{display:inline-flex;align-items:center;justify-content:center;text-align:center;border:solid 6px transparent;border-radius:0;font-family:inherit;font-size:16px;line-height:1.15;text-transform:uppercase;padding:8px 19px;letter-spacing:0.5px;min-width:215px;}
.btn:focus{outline:none;}
.btn--blue{background-color:#fff;color:#fff;border-color:#fff;box-shadow:0 2px 10px 0;transition:border-color 0.4s, background-color 0.4s, color 0.4s, box-shadow 0.4s;}
.btn--blue:hover{background-color:#fff;border-color:#fff;color:#c49b66;}
.btn--blue:focus{box-shadow:0 18px 27px 0;}
.btn--blue:active{border-color:#fff;}
@media (min-width: 1025px){
::-webkit-scrollbar{width:6px;height:6px;background-color:#f4f4f4;}
::-webkit-scrollbar-track{-webkit-box-shadow:none;}
::-webkit-scrollbar-thumb{outline:none;border-radius:0;background-color:#989897;}
}
.title__container_4{position:relative;padding-top:64px;padding-bottom:65px;background: #161617;overflow:hidden;z-index:1;}
.variants__circles{position:absolute;z-index:1;}
.variants__circles--1{top:-124px;left:36%;}
.variants__circles--2{display:none;}
.variants__circles--bottom{bottom:-24%;right:4%;}
.variants__circles--top{left:20%;top:17%;}
.variants__container{position:relative;z-index:3;}
@media (min-width: 1351px){
.variants__container{max-width:1351px;}
}
.variants__grid{display:grid;gap:30px;grid-template-columns:repeat(3, 1fr);}
@media (min-width: 1351px){
.variants__grid{grid-template-columns:repeat(4, 1fr);}
}
@media (max-width: 991px){
.variants__grid{grid-template-columns:repeat(2, 1fr);}
}
@media (max-width: 767px){
.variants__grid{grid-template-columns:repeat(1, 1fr);justify-content:center;}
}
.variants__header{display:flex;align-items:center;padding:0 63px;grid-row:1 / 2;grid-column:1 / 4;}
@media (min-width: 1351px){
.variants__header{grid-column:1 / 5;}
}
@media (max-width: 991px){
.variants__header{grid-column:1 / 3;flex-direction:column;align-items:flex-start;padding:0;}
}
@media (max-width: 767px){
.variants__header{grid-column:1 / 2;}
}



@media (max-width: 991px){
.variants__title{min-width:inherit;}
}
@media (min-width: 1200px){
.variants__title{margin-right:80px;}
}
@media (min-width: 992px) and (max-width: 1199.98px){
.variants__title{font-size:32px;}
}
@media (max-width: 991.98px){
.variants__title{font-size:38px;}
}
.variants__text{font-size:22px;line-height:1.45;}
.option{position:relative;height:100%;z-index:1;}
.option:hover .option__wrapper{transform:translateY(-13px);box-shadow:4px 12px 30px rgba(1, 68, 104, 0.5);cursor:pointer;}
.option__wrapper{
    position:relative;
    display:flex;
    flex-direction:column;
    height:100%;
    padding:50px 30px 43px 42px;
    background-color:#c49b66;
    box-shadow:2px 8px 25px #c49b66;
    overflow:hidden;
    transition:transform 0.6s, box-shadow 0.6s;
    z-index:1;
    border-radius: 10px;
}
.option__header{
    position:relative;
    min-height:45px;
    margin-bottom:12px;
    z-index:2;
}
.option__title{
    color:#fff;
    font-weight:700;
    font-size:20px;
    line-height:1;
    position:relative;
    margin-bottom:0;
    z-index:2;
    text-align: center;
}
.option__subtitle{
    color:#fff;
    font-size:18px;
    line-height:1.33;
    margin-bottom:0;
}
.option__value{
    color:#fff;
    font-weight:800;
    font-size:25px;
    line-height:1;
    text-align:center;
    padding-bottom: 30px;
}
.option__media{
    height:181px;
    margin-bottom:18px;
    display:flex;
    justify-content:center;
}
.option__media img{
    object-position:
    center;object-fit:cover;
}
.option__text{
    position:relative;
    font-size:16px;
    margin-bottom:11px;z-index:2;
}
.option__text p{
    margin-bottom:10px;
    color: #000;
}
.option__link{
    color:#000;
    font-weight:600;
    font-size:14px;
    line-height:1.3;
    letter-spacing:0.04em;
    min-width:inherit;
    margin-top:auto;
    padding:2px 12px;
    align-self:center;
    text-transform:uppercase;
}


.main_8{
    width: 100%;
    height: 750px;
    background: #eae1d6;
}

.title__container_8 {
    text-align: center;    
}

.title__container_8 h4{
    padding-top: 100px; 
}


.title__container_8 p{
    color: #b0bec5;
    font-size: 15px;
    margin-top: 30px;
}

.body__container_8{
    padding: 45px 0px 40px 0px;
    display: inline-block;
    color: #fff;
}


.body__container_podval_8 input{  
    height: 48px;
    width: 280px;
    text-align: left;
    border: 1px solid #061e37;
    border-radius: 5px;
    background: white;
    font-size: 14px;
    padding-left: 20px;
    margin-right: 15px;
    margin-left: 15px; 
    margin-top: 20px;
}

::-webkit-input-placeholder {
   color:    #061e37;
}
:-moz-placeholder { 
   color:    #061e37;
}
::-moz-placeholder { 
   color:    #061e37;
}
:-ms-input-placeholder {
   color:    #061e37;
}


.body__container_podval_8 textarea{
    height: 148px;
    width: 595px;
    border: 1px solid #061e37;
    background: white;
    font-size: 14px;
    margin-top: 15px;
    padding-left: 20px;
    border-radius: 5px;

}

.last__container_8 input{
    height: 30px;
    width: 300px;
    text-align: center;
    border: 1px solid #000;
    background: white;
    border-radius: 5px;
    color: #000;
    font-size: 13px;
    padding: 0px 11px 0px 11px; 
    margin-top: 25px;
    margin-bottom: 75px;
    transform: scale(1.0);
    transition: all 0.5s;
}

.last__container_8 input:hover{
    background: #c49b66;
    color: white;
}

.last__container_8 input:active{
   transform: scale(2);
}

.last__container_8 img{
    padding-left: 26px;
    padding-right: 26px;
    transform: scale(1);
    transition: all 0.5s;
}

.last__container_8 img:hover{
    transform: scale(1.5);
}

@media screen and (max-width: 400px){
.main_8{
    height: 900px;
}
.body__container_podval_8 textarea{
    height: 148px;
    width: 290px;
}
}
*,::after,::before{box-sizing:border-box;}
footer{display:block; background: #161617}
.container a{
    text-align: 17.6px;
}
    
    .logo{
        font-size: 40px;
        color: #fff;
        font-family: impact, sans-serif;
    }
    
    .logo:hover{
        color: #fff
    }
    
   p{
    margin-top:0;
    margin-bottom:1rem;
}
a:hover{
    color:#0056b3;
    text-decoration:underline;
}
.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}
@media (min-width:576px){
.container{
    max-width:540px;
    }
}
@media (min-width:768px){
.container{
    max-width:720px;
    }
}
@media (min-width:992px){
.container{
    max-width:960px;
    }
}
@media (min-width:1200px){
.container{
    max-width:1140px;
    }
}
.text-center{
    text-align:center!important;
}
@media print{
*,::after,::before{
    text-shadow:none!important;
    box-shadow:none!important;
    }
a:not(.btn){
    text-decoration:underline;
    }
img{
    page-break-inside:avoid;
    }
p{
    orphans:3;
    widows:3;
    }
.container{
    min-width:992px!important;
    }
}
.fa{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.fa-instagram:before{
    content:"\f16d";
}
.fa-skype:before{
    content:"\f17e";
}
.fa-vk:before{
    content:"\f189";
}
.fa-whatsapp:before{
    content:"\f232";
}
.fa-telegram:before{
    content:"\f2c6";
}
*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    outline:none;
    list-style:none;
    word-wrap:break-word;
}
p{
    font-size:15px;
    color:#8f8f8f;
    line-height:1.8;margin:0;
}

a,a:hover{
    display:inline-block;
    text-decoration:none;
    color:inherit;
}
.logo{
    padding-bottom: 30px;
}
footer{
    padding:80px 0;
}
footer .social a{
    color:#c49b66;
    width:40px;
    height:40px;
    line-height:40px;
    margin:15px 10px;
    position:relative;
    z-index:2;
}
footer .social a:after{
    content:'';width:100%;
    height:100%;
    position:absolute;
    top:0;left:0;
    border-radius:10px;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    background-color:#222;
    z-index:-1;
    -webkit-transition:all .4s;
    transition:all .4s;
}
footer .social a:hover{
    color:#fff;
}
footer .social a:hover:after{
    background:#c49b66;
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
}
footer p{
    color:#999;
    font-weight:400;
    font-size:12px;
    text-transform:uppercase;
    letter-spacing:2px;
}
